<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <a href="http://www.railstutorial.org/"><em><%= t ".tutorial" %></em></a> <%= t ".is" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> &
  <a href="http://screencasts.railstutorial.org/"><%= t ".screencast" %></a>
  <%= t ".teach" %>
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  <%= t ".intro" %>
</p>
